/* CSS declarations go here */
.scoreBarDown {
  margin-left: 20px;
  margin-top: 15px;
  background: red;
  width: 100px;
  height: 15px;
  display: inline-block;
  position: relative;
}

.scoreBarUp {
  background: green;
  height: 100%;
  position: absolute;
}

textarea, .textcomplete-wrapper {
  width: 100%;
}

.popup {
  position: absolute;
}

.to, .from {
  width: 60%;
  display: inline-block;
}